body {
    background-color: var(--bg-100);
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftSide {
    flex: 5;
    z-index: 9999;
}

.rightSide {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}



