body {
    background-color: var(--bg-100);
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftSide {
    flex: 5;
}

.rightSide {
    flex: 1;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--accent-200);
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.logo {
    width: 150px;
    height: 150px;
    mix-blend-mode: multiply;
}

.menuWrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: end;
}

.menuItem{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 15px;
    width: 90%;
    cursor: pointer;
    transition: 200ms ease;
    padding: 10px 15px;
    border-radius: 20px;

}

.menuItem:hover{
    background-color: var(--primary-50);
}

.menuItem:hover .menuTitle{
    color: aliceblue;
}

.menuItem:hover .menuIcon{
    color: aliceblue;
}

.menuTitle{
    color: var(--text-200);
    font-size: 15px;
    margin-right: 10px;
    font-family: Vazir;
}

.menuIcon{
    color: var(--text-200);
    font-size: 26px;
}

.active{
    background-color: var(--primary-50);
}

.active .menuTitle{
    color: aliceblue;
}

.active .menuIcon{
    color: aliceblue;
}